packages:
  yum:
    ImageMagick: []
    ImageMagick-devel: []

    commands:
        01-wget:
            command:        "wget -O /tmp/ffmpeg.tar.gz http://ffmpeg.gusari.org/static/64bit/ffmpeg.static.64bit.2014-03-05.tar.gz"
        02-mkdir:
            command:        "if [ ! -d /opt/ffmpeg ] ; then mkdir -p /opt/ffmpeg; fi"
        03-tar:
            cwd:            /tmp
            command:        "tar -xzf ffmpeg.tar.gz -C /opt/ffmpeg"
        04-ln:
            command:        "if [[ ! -f /usr/bin/ffmpeg ]] ; then ln -s /opt/ffmpeg/ffmpeg /usr/bin/ffmpeg; fi"
        05-ln:
            command:        "if [[ ! -f /usr/bin/ffprobe ]] ; then ln -s /opt/ffmpeg/ffprobe /usr/bin/ffprobe; fi"
        06-pecl:
            command:        "if [ `pecl list | grep imagick` ] ; then pecl install -f imagick; fi"
