packages:
  yum:
    ImageMagick: []
    ImageMagick-devel: []

commands:
  01-wget:
    command:        "wget -O /tmp/ffmpeg.tar.gz http://ffmpeg.gusari.org/static/64bit/ffmpeg.static.64bit.2014-03-05.tar.gz"
  02-mkdir:
    command:        "if [ ! -d /opt/ffmpeg ] ; then sudo mkdir -p /opt/ffmpeg; fi"
  03-tar:
    command:        "sudo tar -xzf /tmp/ffmpeg.tar.gz -C /opt/ffmpeg"
  04-ln:
    command:        "if [[ ! -f /usr/bin/ffmpeg ]] ; then sudo ln -s /opt/ffmpeg/ffmpeg /usr/bin/ffmpeg; fi"
